.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .class-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        .name {
            padding: 0;
            margin: 0;

            p {
                font-size: 60px;
                font-weight: bold;
                padding: 0;
            margin: 0;
            }// p
        }// .name
        .class-desc {
            padding: 0;
            margin: 0;

            p {
                font-size: 18px;
                padding: 0;
                margin: 0;
            }// p
        }// .class-desc
        .class-img {
            padding: 0;
            margin: 0;

            img {

            }// img
        }// .class-img
        .class-school {
            padding: 0;
            margin: 0;

            p {
                font-size: 36px;
                font-weight: bold;
                padding: 0;
                margin: 0;
            }// p
        }// .class-school
        .class-role {
            padding: 0;
            margin: 0;

            p {
                font-size: 36px;
                padding: 0;
            margin: 0;

            }// p
        }// .class-role
    }// .class-header

    .skills {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: space-around;

        .skill-container {
            padding: 20px;
            margin: 5px;
        }// .skill-container
    }// .skills
}// .container