<div class="container">
  <header>
      <div class="title">
          <h1>Breach Planner</h1>
      </div>
  </header>
  
  <div class="form form-inline">
    <div class="form-check" *ngFor="let school of schools">
      <label class='form-check-label'>
        <input type="checkbox" 
          class="form-check-input" 
          [(ngModel)]="school.checked" 
          [value]='school.value'
          (change)='onSchoolCheck(school.value, school.checked)'> 
          {{school.value}}
        </label>
      </div>
    </div>
    
<div class="class-list-container row">
<hr>
  <div 
    class="class-list col-sm-3" 
    *ngFor="let item of data | filter:filteredSchool:'school'">
    {{item.class}}


    <img class='item-img' src="{{item.relativeImgPath}}"  alt="">

  </div>
</div>
  
</div>

<!-- 

<pre>Selected Schools: <span *ngFor="let school of checked()">{{school.value}}</span></pre> -->





      <!-- <div class="filters"> 
        <div class="school-filter">
            <div class="btn-group mr-3">
                <div class="form form-inline btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                  <button class="btn" ngbDropdownToggle>School</button>
                  <div 
                    class="dropdown-menu " 
                    ngbDropdownMenu 
                    aria-labelledby="dropdownConfig">
                    
                      
                    <button class="dropdown-item">
                      Arcane
                    </button>
                    <button class="dropdown-item">
                      Battle  
                    </button>
                    <button class="dropdown-item">
                      Dark
                    </button>
                  </div>
                </div>
                <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                  <button class="btn" ngbDropdownToggle>Roles</button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item">One</button>
                    <button class="dropdown-item">Two</button>
                    <button class="dropdown-item">Four!</button>
                  </div>
                </div>
              </div>
        </div>


      </div> -->